In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import ast 

# Konfigurasi visualisasi
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)
plt.rcParams['font.size'] = 12

In [5]:
df = pd.read_csv('movies_all_data.csv')
print("Dataset berhasil dimuat dari 'movies_all_data.csv'")
print(f"Jumlah baris: {df.shape[0]}, Jumlah kolom: {df.shape[1]}")

Dataset berhasil dimuat dari 'movies_all_data.csv'
Jumlah baris: 4945, Jumlah kolom: 11

In [6]:
print(df.head())

   movie_id  original_title                       poster_path  \
0         6  Judgment Night  /3rvvpS9YPM5HB2f4HYiNiJVtdam.jpg
1        11       Star Wars  /6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg
2        12    Finding Nemo  /eHuGQ10FUzK1mdOY69wF5pGgEf5.jpg
3        13    Forrest Gump  /arw2vcBveWOVZr6pxd9XTd1TdQa.jpg
4        17        The Dark  /h6gCVAzjFLhzkffv2VZO1RgVCBt.jpg

                                            overview release_date  \
0  Four young friends, while taking a shortcut en...   1993-10-15
1  Princess Leia is captured and held hostage by ...   1977-05-25
2  Nemo, an adventurous young clownfish, is unexp...   2003-05-30
3  A man with a low IQ has accomplished great thi...   1994-06-23
4  In an attempt to pull her family together, Ad√®...   2005-09-28

   vote_average                              genres        directors  \
0         6.500             Action, Crime, Thriller  Stephen Hopkins
1         8.205  Adventure, Action, Science Fiction     George Lucas
2         7.816                   Animation, Family   Andrew Stanton
3         8.468              Comedy, Drama, Romance  Robert Zemeckis
4         5.700           Horror, Thriller, Mystery     John Fawcett

                                       main_actors  \
0    Emilio Estevez, Cuba Gooding Jr., Denis Leary
1        Mark Hamill, Harrison Ford, Carrie Fisher
2  Albert Brooks, Ellen DeGeneres, Alexander Gould
3             Tom Hanks, Robin Wright, Gary Sinise
4            Maria Bello, Sean Bean, Abigail Stone

                                     watch_providers           scraped_at
0  {"watch_providers": [{"id": 9, "name": "Amazon...  2025-05-22 20:15:46
1  {"watch_providers": [{"id": 337, "name": "Disn...  2025-05-22 19:36:03
2  {"watch_providers": [{"id": 337, "name": "Disn...  2025-05-22 20:23:38
3  {"watch_providers": [{"id": 9, "name": "Amazon...  2025-05-22 19:49:14
4  {"watch_providers": [{"id": 9, "name": "Amazon...  2025-05-22 21:15:09

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4945 entries, 0 to 4944
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         4945 non-null   int64
 1   original_title   4945 non-null   object
 2   poster_path      4945 non-null   object
 3   overview         4944 non-null   object
 4   release_date     4945 non-null   object
 5   vote_average     4945 non-null   float64
 6   genres           4945 non-null   object
 7   directors        4940 non-null   object
 8   main_actors      4923 non-null   object
 9   watch_providers  4945 non-null   object
 10  scraped_at       4945 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 425.1+ KB

In [8]:
print(df.describe())

           movie_id  vote_average
count  4.945000e+03   4945.000000
mean   3.746823e+05      6.481828
std    3.404464e+05      0.832566
min    6.000000e+00      2.189000
25%    2.846500e+04      5.955000
50%    3.457750e+05      6.509000
75%    6.053730e+05      7.070000
max    1.418522e+06      9.112000

In [ ]:
print("--- Cek Missing Values ---")
missing_values = df.isnull().sum()
missing_df = pd.DataFrame({'Total Missing': missing_values})
print(missing_df[missing_df['Total Missing'] > 0].sort_values(by='Percentage (%)', ascending=False))

# Visualisasi Missing Values (opsional, jika ada banyak kolom dengan missing)
if not missing_df[missing_df['Total Missing'] > 0].empty:
    plt.figure(figsize=(10, 6))
    sns.heatmap(df.isnull(), cbar=False, cmap='viridis')
    plt.title('Visualisasi Missing Values')
    plt.show()
else:
    print("Tidak ada nilai hilang yang terdeteksi.")

--- Cek Missing Values ---
             Total Missing  Percentage (%)
main_actors             22        0.444894
directors                5        0.101112
overview                 1        0.020222